/* Make minimum breakpoint at which the navigation bar toggles the size of the iPhone 4 */
body {
  	padding-top: 20px;
  	padding-bottom: 20px;
	background-color: #FFCC00;
}

.navbar {
  	margin-bottom: 20px;
}

/* For Chrome */
.loading {
    content: url('../images/loading.png');
    background-color: #FFCC00;
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
}

/* For Firefox */
.loading::after {
    content: '';
    background-image: url('../images/loading.png');
    background-color: #FFCC00;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
}

p {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn {
    height: 120px;
    width: 300px;
    background-color: #FFCC00;
	background-image: url('../images/bus_info.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 290px;
    border-width: 0px;
    position: relative;
    font-size: 15px;
    text-align: center;
    margin: auto;
    overflow: hidden;
    white-space: normal;
    line-height: 15px;
}

.btn span {
    display: block;
    position: relative;
    margin-top: 35px;
    font-weight: bold;
    font-size: 27px;
}

.btn:hover {
    background-image: url('../images/bus_info_lights.png');
}

.detailBox {
    width:300px;
    margin:0px;
}

.panel {
	width: 335px;
    background-color: #FFCC00;
    border-width: 3px;
    border-color: #000;
}