body {
  	padding-top: 20px;
  	padding-bottom: 20px;
	background-color: #FFCC00;
}

.navbar {
  	margin-bottom: 20px;
}

.btn {
	width: 272px;
    height: 150px;
    background-color: #FFCC00;
	background-image: url('../images/side_bus_blank.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border-width: 0px;
    font-weight: bold;
    font-size: 30px;
    position: relative;
}

.btn span {
    display: block;
    position: absolute;
    margin-top: 30px;
    margin-left: 10px;
}

.panel {
    background-color: #FFCC00;
    border-color: #000;
}

p {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

.on_bus_btn {
    height: 100px;
    width: 100px;
    background-color: #FFCC00;
	background-image: url('../images/on_bus.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90px;
    border-width: 0px;
    position: relative;
    margin: auto;
    overflow: hidden;
}

.on_bus_btn:hover {
    background-image: url('../images/on_bus_lights.png');
}