body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #FFCC00;
}

/* For Chrome */
.goodbye {
    content: url('../images/goodbye.png');
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
}

/* For Firefox */
.goodbye::after {
    content: '';
    background-image: url('../images/goodbye.png');
    background-color: #FFCC00;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
}