/* Make minimum breakpoint at which the navigation bar toggles the size of the iPhone 4 */
body {
  	padding-top: 20px;
  	padding-bottom: 20px;
	background-color: #FFCC00;
}

.navbar {
  	margin-bottom: 20px;
}

/* For Chrome */
.loading {
    content: url('../images/loading.png');
    background-color: #FFCC00;
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
}

/* For Firefox */
.loading::after {
    content: '';
    background-image: url('../images/loading.png');
    background-color: #FFCC00;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
}

.btn {
    height: 100px;
    width: 100px;
    background-color: #FFCC00;
	background-image: url('../images/black_bus.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90px;
    border-width: 0px;
    position: relative;
    font-size: 10px;
    text-align:center;
    margin: auto;
    overflow: hidden;
}

.btn span {
    display: block;
    position: relative;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

.btn:hover {
    background-image: url('../images/black_bus_lights.png');
}
