body {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #FFCC00;
}

.navbar {
  margin-bottom: 20px;
}

.fullness_ratings {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.fullness_ratings > span {
  display: inline-block;
  position: relative;
  width: 2em;
}

.fullness_ratings > *:hover,
.fullness_ratings > *:hover ~ span,
.fullness_ratings:not(:hover) > input:checked ~ span {
  color: transparent;
}
.fullness_ratings > *:hover:before,
.fullness_ratings > *:hover ~ span:before,
.fullness_ratings:not(:hover) > input:checked ~ span:before {
   content: url('../images/fullness_black.png');
   position: absolute;
   top:0px;
}

.fullness_ratings > input {
   margin-left:-2em;
   margin-right:0;
   margin-top:-43px;
   top:37px;
   width:2em;
   height:5em;
   position:relative;
   z-index:2;
   opacity:0;
}

.smell_ratings {
  unicode-bidi: bidi-override;
  direction: rtl;
}
.smell_ratings > span {
  display: inline-block;
  position: relative;
  width: 2em;
}

.smell_ratings > *:hover,
.smell_ratings > *:hover ~ span,
.smell_ratings:not(:hover) > input:checked ~ span {
  color: transparent;
}
.smell_ratings > *:hover:before,
.smell_ratings > *:hover ~ span:before,
.smell_ratings:not(:hover) > input:checked ~ span:before {
   content: url('../images/smell_black.png');
   position: absolute;
}

.smell_ratings > input {
   margin-left:-2em;
   margin-right:0;
   margin-top:-20px;
   top:20px;
   width:2em;
   height:3em;
   position:relative;
   z-index:2;
   opacity:0;
}

.detailBox {
    width:90%;
    margin:0px;
}

.actionBox .form-group:first-child {
    width:100%;
}

.actionBox .form-group * {
    width:100%;
}

/*
  background-color: #FFCC00;
  border-color: #E6B800;
*/

.actionBox {
    padding:0px;
}

.btn {
	width: 140px;
    height: 140px;
    margin:0 auto;
    background-color: #FFCC00;
	background-image: url('../images/black_bus.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 110px;
    border-width: 0px;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    text-align:center;
}

.btn span {
    display: block;
    position: relative;
    margin-top: 0px;
}

.btn:hover {
    background-image: url('../images/black_bus_lights.png');
}
